@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

:root {
    --primary-color: #c1292e;
    --secondary-color: #235789;
    --accent1-color: #f1d302;
    --accent2-color: #020100;
    --heading-font: "IM Fell French Canon SC";
    --paragraph-font: Lato, Helvetica, sans-serif
}

html {
    background-color: var(--secondary-color)
}

body {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    
}

main div{
    max-width: 900px;
}

h1{
    font-size:4em; 
}
header {
    padding: 1em;
    text-align: center;
    color: var(--accent2-color);
    background-color: var(--secondary-color);
}

header>h1 {
    color: var(--accent1-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
    padding: 1em
}


.primary {
    background-color: var(--primary-color)
}

.secondary {
    background-color: var(--secondary-color)
}

.accent1 {
    background-color: var(--accent1-color)
}

.accent2 {
    background-color: var(--accent2-color)
}


.changeColor{
    background-color: #f1d302;
}


option:checked { color: red; }

  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 420px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card.open .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
    width:300px;
    height:420px;
    border:solid;
  }
  
  .flip-card-back {
    background-color: var(--secondary-color);
    color: white;
    transform: rotateY(180deg);
  }

.players{
    display:flex;
}
