@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

:root {
    --primary-color: #c1292e;
    --secondary-color:  rgba(83, 44, 44, 0.842);
    --accent1-color: #f1d302;
    --accent2-color: #020100;
    --heading-font: Trebuchet MS;
    --paragraph-font: Lato, Helvetica, sans-serif
}
body {
    animation: fadeIn 2s ease;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }




body{
    background: url(../img/hitter-5.jpg) repeat;
    max-width:100%;
    min-height: 100%;
}

header, footer, main {
    max-width: 950px;
    margin: 0 auto;
    background-color: var(--secondary-color);
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    
}

label {
    color: var(--accent1-color);
}

h1{
    font-size:4em;
    
}
header {
    text-align: center;
    color: var(--accent2-color);
    background-color: var(--secondary-color);
    padding-top: 20px;
    padding-bottom:10px;
}

header>h1 {
    color: var(--accent1-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
}


.primary {
    background-color: var(--primary-color)
}

.secondary {
    background-color: var(--secondary-color)
}

.accent1 {
    background-color: var(--accent1-color)
}

.accent2 {
    background-color: var(--accent2-color)
}


.changeColor{
    background-color: #f1d302;
}


option:checked { color: red; }

  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 420px;
    perspective: 1000px;
    padding-top: 40px;

  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card.open .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: var(--primary-color);
    color: black;
    width:300px;
    height:420px;
    border:solid;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  }
  
  .flip-card-back {
    background-color: white;
    transform: rotateY(180deg);
    border:solid black;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

.players{
    display:flex;
    justify-content: space-evenly;
    padding-top: 40px;

}


.button {
	border: solid 3px var(--primary-color);
	cursor:pointer;
	color: var(--accent1-color);
    background-color: var(--accent2-color);
	font-family:Trebuchet MS;
	font-size:25px;
	font-weight:bold;
	font-style:italic;
	padding:24px 27px;
	text-decoration:none;
    margin-left: 15px;
}

.button:hover{
    background-color: var(--primary-color);
    border-color: var(--accent2-color);
}

 .button:active {
	position:relative;
	top:1px;
}

.picture{
    max-width: 100%;
    max-height: 100%;
}

.picture.border{
    border-radius:5%;
}

.card-border{
    background-color: whitesmoke;
    width: 250px;
    height: 375px;
    border-radius: 15px;
    align-self:center;
}

.card-border-2{
    border: var(--accent2-color) solid;
    width: 250px;
    height: 375px;
    border-radius: 15px;
    align-self:center;
}

table {
    margin: 10px;
    width: 225px;
}

table, th, td {
    font-size: 1.2em;
    border: solid;
    color: black;
    
}



.players div h2{
    padding-left:20%
}
#form{
    display: flex;
    justify-content: space-between;
    margin-right: 12%;
    margin-left: 13%;
    padding-top: 100px;
    padding-bottom: 100px;
}



@media only screen and (max-width: 650px) {
    .players {
        display:block;
        margin-left: 15%;
    }
    #form {
        display:block;
    }
  }

